/*----------------- 
google fonts
------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* ----------------------
common style or utilities
------------------------- */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}


/*-------------
header style
--------------- */
header{
    background-color: #2D25A0;
    
}
.nav-login{
    width: 1164px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    margin-left: 117px;
    padding-top: 30px;
    
}
.menu-list{
    display: flex;
    align-items: center;
    list-style-type: none;
    
}
m
.menu-ber{
    
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.menu-ber a{
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    transition: 0.5s;
    margin-right: 36px;
}
.menu-ber:hover a{
    color: #E02C6D;
}


.login-button{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: 
    #E02C6D;
    padding: 10px 24px;
    
}
.login-button .login-icon{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.login-button span{
    width: 43px;
    height: 24px;
    font-size: 16px;
}
/* banner sytle */
.container{
    background-color: #2D25A0;
    width: 100%;
    height: 500px;
    display: flex;
}

.watch-title{
    margin-left: 156px;
    margin-top: 78px;
    

}
.watch-title h1{
    font-size:54px;    
    color: #FFFFFF;
    width: 485px;
    height: 230px;
}
.watch-button{
    
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: 
    #E02C6D;
    padding: 10px 24px;
    transition: all .3s linear;
}

.watch-button:hover{
    background: white;
    color: #E02C6D;
}
.fa-arrow-right{
    width: 24px;
    height: 24px;
    
    
}
.banner-section{
    margin-top: 40px;
    width: 556.01px;
    height: 438px;
    transition: 0.8s;
    transition-property: width, transform;

    
}




.banner-section img{
    width: 556.01px;
    height: 438px;
    padding-right: 70px;
    
}
/*---------------------------
top players style
 ------------------------- */

.players-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    margin-left: 150px;
    margin-top: 60px;
    Width :1050px;
}

.players{
    width: 330px;
    height: 474px;
    
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.players img{
    width: 300px;
    height: 256px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}
.player-name{
    font-size: 28px;
    color: #18191F;
    padding-left: 15px;
    margin-top: 16px;
    margin-bottom: 10px;
}
.players p{
    font-size: 16px;
    line-height: 20px;
    padding: 0px 15px;
    color: #6C6C6C;
    text-align: justify;
}
/* all highlights */
.highlights-container{
    
    width: 100%;
    height: 500px;
    display: flex;
}
#font-color{
    color: #0A0826;
    margin-left: 156px;
    width: 469px;
    height: 120px;
    margin-top: 100px;


}
#font-color h1{
    margin-top: 180;
    font-size: 40px;
    line-height: 60px;
}
.highlights-info{
    padding-right: 75px;
    font-size: 16px;
    line-height: 25px;
    
    color: #6C6C6C;
}
.watch-now{
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: 
    #E02C6D;
    padding: 10px 24px;
    
    
}
.footer-banner img{
    width: 567px;
    height: 427px;
    padding-right: 70px;
    margin-top: 70px;
}
.youtube-info{
    width: 800px;
    height: 415px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}
/* footer style */
.footer-container{
    width: 483.87px;
    height: 213px;
    text-align: center;
    margin: 0 auto;
}
footer{
    margin-top: 150px;
    margin-bottom: 50px;
    
}
.footer-icon img{
    width: 483.87px;
height: 110px;
}
.filled{
    color: #6C6C6C ;
    border-radius: 45px;
    Width : 30px;
    Height: 30pxpx;
    background: #969BAB;
    padding: 15px;
    margin-right: 20px;
    
}

.footer-container p{
    font-size: 18px;
    line-height: 24px;
    
}
/* signup style */
.form-container{
    text-align:center;
}
.form_div{
    margin-top: 50px;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    border-radius: 20px;
    width: 330px;
    margin-left: 485px;
    padding: 10px;
    background-color: #3225a03b;
}
.form_div .form_label{
    margin:15px;
    margin-bottom:30px;
    font-size:25px;
    font-weight:bold;
    color:white;
    text-decoration: none;
}
.form_div input[type="text"],input[type="password"]{
    width:230px;
    height:40px;
    border-radius:2px;
    font-size:17px;
    padding-left:5px;
    border:none;
}
.form_div input[type="submit"]{
    width:230px;
    height:40px;
    border:none;
    border-radius:2px;
    font-size:17px;
    background-color:#E02C6D;
    border-bottom:3px solid #a52755;
    color:white;
    font-weight:bold;
}

/*-------------- 
Media Queries
-----------------*/
/* Mobile Devices */
@media only screen and (max-width:688px){
    header{
        display: none;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 719px;
    }
    .watch-title{
        margin-left: 16px;
        margin-top: 112px;
    }
    .watch-title h1{
        font-size: 36px;
        line-height: 50px;
        width: 278px;
        height: 138px;
    }
    .banner-section img{
        margin-top: 10px;
        margin-left: 84px;
        width: 329px;
        height: 259.17px;
    }
    .players-container {
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        margin: 80px;
    }
    .highlights-container{
        flex-direction: column;
        align-items: flex-start;
    }
    .highlights-info{
        width: 329px;
        height: 143px;
    }
    #font-color{
        margin: 0px 51px;
        width: 329px;
        height: 299px;
    }
    .footer-banner{
        display: none;
        width: 328px;
        height: 248px;
    
        margin: 45px auto;
    }
    .footer-banner img{
        margin: 0px;
    
        width: 328px;
        height: 248px;
    }
    .youtube-info{
        width: 315px;
        height: 248px;
    }
    .youtube-info iframe{
        box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
        border-radius: 10px;
        width: 317px;
        height: 248px;
        margin-top: 109px;
    }
    .footer-icon img{
        width: 275px;
        height: 63px;
    }
    .form_div{
        width: 60%;
        margin-left: 18%;
        margin-top: 156px;
    }
.form_div input[type="text"],input[type="password"]{
    width:80%;
    }
.form_div input[type="submit"]{
    width:80%;
    }
}



